<%= render @user %>
<% unless @user.friend_with?(current_user) || @user.id == current_user.id || Invitation.pending_request?(@user, current_user) %>
  <%= link_to "Add Friend", user_invitations_path(@user), method: :post %>
<% end %>

<% if Invitation.incoming_request?(current_user) && @user.id == current_user.id %>
  <%= link_to "Accept Friend Request", user_invitation_path(@user), method: :patch %>
<% end %>

<div class="content">
  <% @user.posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<% if Invitation.incoming_request?(current_user) && @user.id == current_user.id %>
  <% @invitations.each do |invitation| %>
    <%= "#{invitation.friend.firstname} #{invitation.friend.lastname}: " %> <%= link_to "Accept", user_invitation_path(invitation.friend_id), method: :patch %> 
  <% end %>
<% end %>