<!DOCTYPE html>
<head>
<title>Profile</title>
</head>
<body>
  <h1> Your Acebook Profile </h1>
  <div class=“sign_up”>
    <p>
    <%= image_tag profile_picture_for(@user), class: "user-pic" %>
    </p>
    <p>
    <%= @user.firstname %>
    <%= @user.lastname %>
    </p>
    <p>
    <%= @user.email %>
    </p>
  </div>

    <%= link_to "Edit Profile", edit_user_path(@user) %>

    <p>Bio: <%= @user.bio %></p>
    <p>Age: <%= @user.age %></p>
    <p>Home town: <%= @user.home_town %></p>
    <p>Education: <%= @user.education %></p>
    <p>Workplace: <%= @user.workplace %></p>
</body>