
<header class="navbar">
  <div class="topnav">
    <nav>
      <ul>
        <%= link_to "Posts", posts_path %>  
        <div class="navprofile">
          <a><% if logged_in? %>
            <%= image_tag profile_picture_for(current_user), class: "profile-pic" %>
          <% end %>
          <%# <%= link_to  "#{current_user.firstname} #{current_user.lastname}", current_user %></a> 
          
          <%= link_to "My Profile", current_user %></a>

          <%= link_to "Log Out", logout_path, method: :delete %>  
        </div>
      </ul>
    </nav>
  </div>
</header>
