<% @posts.each do |post| %>
  <p><%= post.message %></p>

  <% if post.image.attached? %>
    <%= image_tag post.image %>
  <% end %>

  <p><%= post.likes %> likes </p>
  <a href="/posts/<%= post.id %>/like">Like</a>

  <p><%= post.comments.length %> comments</p>
  <%= link_to "View", post_path(post) %><br>
<% end %>

<%= link_to "New post", new_post_path %>
