<%= form_for @post do |form| %>
  <div>
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <%= form.submit "Submit" %>
<% end %>