<h1><%= @post.message %></h1>

<p>Comments</p>
<p>
  <%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%> - <%= @post.comments.length %> comments
</p>
<%= render @post.comments %>

<p><% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <%= link_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
  <% else %>
    <%= link_to 'Like', post_likes_path(@post), method: :post %>
  <% end %> - Add a comment</p>
<%= render 'comments/form' %>
