<h1><%= @post.message %></h1>

<p>Comments</p>
  <p>
    <%= @post.comments.length %> comments
  </p>
  <% @post.comments.each do |comment| %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.body %>  
    </p><br>
    <p>
      <%= link_to "Delete", [ comment.post, comment ], method: :delete %>
    </p>

  <% end %>
  <p>Add a comment</p>
  <%= form_with model: [ @post, @post.comments.build ] do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>